@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  padding: 0;
  margin: 0;
  width: 100%;
}

.App {
  text-align: center;
  font-family: "Montserrat", "sans-serif";
}

.App-header {
  margin: 0;
  background-color: #FFFFFF;
  height: 100px;
  border-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: 50px;
  color: #FF5A5F;
  box-shadow: 0 3px 8px #00000015;
}

.title {
  display: flex;
  padding: 36px;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

.App-logo {
  float: left;
  height: 50px;
  
}

.App-header h2 {
  float: left;
}

.clone{
  color:#000000;
  float: right;
}

.subtitle {
  display: flex;
  padding: 36px;
  align-items: center;
  color:#000000;
}

.splash-image {
  padding: 36px;
}

.carousel-section {
  padding: 0px 36px 36px 36px;
  text-align: left;
}

.carousel-section h1 {
  font-size: 40px;
}

.carousel-section p {
  font-size: 24px;
}

.carousel-card {
  width: 300px;
  height: 400px;
  box-shadow: 0 3px 8px #00000015;
  background-color: slategrey;
}

.App-footer {
  background-color: #FFFFFF;
}